<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>

<div class="title-container">
  <h1>Gênero: </h1> 
  <h2><%= @genre.name %> </h2>
</div>


<h2>Filmes cadastrados de <%= @genre.name %>: </h2>
<ul class="type-list">
  <% @movies.each do |movie| %>
  <li class="item-list"><%= movie.title %> </li>
  <% end %>
</ul>
</div>

<%= link_to 'Editar', edit_genre_path, class: "btn btn-primary"%></br>
<%= link_to 'Voltar', genre_path, class: "btn btn-secondary" %>