<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>

<%= form_with model: @director do |f| %>
  <div class="col">
    <label for="name" class="form-label">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    </label>
  </div>

  <div class="col">
    <label for="name" class="form-label">
    <%= f.label :nationality, 'Nacionalidade' %>
    <%= f.text_field :nationality %>
    </label>
  </div>

  <div class="col">
    <label for="name" class="form-label">
    <%= f.label :birth_date, 'Data de Nascimento' %>
    <%= f.text_field :birth_date %>
    </label>
  </div>

  <div class="col">
    <label for="name" class="form-label">
    <%= f.label :genre_id, 'Gênero favorito' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    </label>
  </div>

    <%= f.submit 'Salvar', class: "btn btn-primary"  %>
<% end %>