<h1>Diretor:</h1>
<h2><%= @director.name %></h2>

<%= link_to 'Editar', edit_director_path %></br>
<%= link_to 'Voltar', directors_path %>

<div><strong>Nome:</strong> <%= @director.name %></div>

<div><strong>Nacionalidade:</strong><%= @director.nationality %></div>

<div><strong>Data de nascimento:</strong><%= @director.birth_date %></div>
        
<div><strong>Gênero favorito:</strong><%= @director.genre.name if @director.genre %></div>


<h3>Filmes cadastrados dirigidos por <%= @director.name %>: </h3>
<ul>
<% @movies.each do |movie| %>
<li><%= movie.title %> </li>
<% end %>
</ul>
