<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
<div class="title-container">
  <h1>Diretor:</h1>
  <h2><%= @director.name %></h2>
</div>


<div class="show-primary"><strong>Nome:</strong> <%= @director.name %></div>
<div class="show-primary"><strong>Nacionalidade:</strong><%= @director.nationality %></div>
<div class="show-primary"><strong>Data de nascimento:</strong><%= @director.birth_date %></div>
<div class="show-primary"><strong>Gênero favorito:</strong><%= @director.genre.name if @director.genre %></div>

<h2>Filmes cadastrados dirigidos por <%= @director.name %>: </h2>
<ul class="type-list">
  <% @movies.each do |movie| %>
  <li class="item-list"><%= movie.title %> </li>
  <% end %>
</ul>

<%= link_to 'Editar', edit_director_path, class: "btn btn-primary" %></br>
<%= link_to 'Voltar', directors_path, class: "btn btn-secondary" %>